:root {
    /* declare a variable with `--` syntax */
    --primary: #13293d;
    --secondary: rgb(67, 73, 80);
    --tertiary: lightblue;
    --text: white;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
  }

  /* Header styles begin here */
header {
    padding: 10px;
    background: var(--primary);
    color: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

header h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 5px;
}

/* NAV styles begin here */
.navbar {
    margin: 20px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

nav a:hover {
    box-shadow: 1px 1px 15px 3px var(--tertiary);
}

nav a {
    color: var(--text);
    text-decoration: none;
    border: solid;
    border-color: var(--tertiary);
    border-radius: 5px;
    padding: 5px;
    transition: 250ms ease-out;
    margin: 10px;
    display: block;
}

/* Hero image styles begin here */
.hero {
    background-image: url("../images/space-hero-1.png");
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero img {
    height: 400px;
    margin: 50px;
    border-radius: 20px;
}

/* body styles begin here */
body {
    background-color: var(--secondary);
    margin: 0;
}

main, footer {
    margin: 10px;
    color: var(--text);
}

.title-divider {
    border-right: 3px solid black;
    min-height: 100%;
    text-align: right;
    padding-right: 20px;
    min-width: 15%;
    max-width: 15%;
}

.section-flexbox {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin: 20px;
}

.section-flexbox p {
    padding-left: 20px;
    max-width: 62%;
    font-size: 18px;
    font-weight: light;
}

/* project tiles begin here */

.tile-grid-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    width: 100%;
}

.tile-grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

#project-1 {
    flex-basis: 92%;
    background-image: url("../images/tile-1.jpg");
}

#project-2 {
    background-image: url("../images/tile-2.jpg");
}

#project-3 {
    background-image: url("../images/tile-3.jpg");
}

#project-4 {
    background-image: url("../images/tile-4.jpg");
}

#project-5 {
    background-image: url("../images/tile-5.jpg");
}

.tile {
    border: solid black;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-basis: 45%;
    height: 200px;
    justify-content: space-between;
    gap: 5px;
    transition: 250ms ease-out;
    box-shadow: 5px 10px 18px #303030;
    background-size: cover;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
}

.tile:hover {
    opacity: 1;
}

.tile-title {
    position: relative;
    margin-right: auto;
    margin-top: 10px;
    color: white;
}

/* footer styles begin here */
footer {
    margin: 0;
    padding: 10px;
    background: var(--primary);
    color: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  footer a {
    color: var(--text);
    padding: 5px;
    margin: 10px;
  }

  footer h3 {
    font-size: 24px;
  }

  /* media queries for responsiveness */
  @media screen and (max-width: 980px) {
    #project-2, #project-3, #project-4, #project-5 {
        flex-basis: 92%;
    }
  }

  @media screen and (max-width: 730px) {
    .section-flexbox {
        display: block;
    }

    .section-flexbox p {
        max-width: none;
    }

    .title-divider {
        text-align: left;
        min-width: none;
        max-width: none;
        border: none;
        margin-bottom: 10px;
    }

    footer .nav-links {
        flex-direction: column;
    }

    footer .nav-links li {
        margin-bottom: 5px;
    }

  }