:root {
    /* declare a variable with `--` syntax */
    --primary: #13293d;
    --secondary: rgb(67, 73, 80);
    --tertiary: lightblue;
    --text: white;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
  }

  /* Header styles begin here */
header {
    padding: 10px;
    background: var(--primary);
    color: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

header h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 5px;
}

/* NAV styles begin here */
.navbar {
    margin: 20px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

nav a:hover {
    box-shadow: 1px 1px 15px 3px var(--tertiary);
}

nav a {
    color: var(--text);
    text-decoration: none;
    border: solid;
    border-color: var(--tertiary);
    border-radius: 5px;
    padding: 5px;
    transition: 250ms ease-out;
    margin: 10px;
}

/* Hero image styles begin here */
.hero {
    background-image: url("../images/space-hero-1.png");
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero img {
    height: 400px;
    margin: 50px;
    border-radius: 20px;
}

body {
    background-color: var(--secondary);
    margin: 0;
}

main, footer {
    margin: 10px;
    color: var(--text);
}

h2 {
    text-decoration: underline;
}

footer {
    margin: 0;
    padding: 10px;
    background: var(--primary);
    color: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  footer a {
    color: var(--text);
    padding: 5px;
    margin: 10px;
  }